<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 minutes">

    <!-- ___________________________________ Properties ___________________________________ -->

    <property name="ROOT_LEVEL" value="ERROR"/>
    <property name="APPLICATION_LEVEL" value="INFO"/>
    <property name="THIRDPARTY_LEVEL" value="ERROR"/>
    <property name="HIBERNATE_LEVEL" value="ERROR"/><!--should be on debug level to log queries-->
    <property name="QUERY_PARAMETERS_LEVEL" value="ERROR"/> <!--should be on trace level to log query parameters-->
    <property name="EXCEPTION_DEPTH" value="100"/>
    <property name="MAX_FILE_SIZE" value="10MB"/>
    <property name="ORB_LOG_PATH" value="/opt/ndb/orb/log"/>

    <property name="ORB_PATTERN" value="%d{yyyy-MM-dd} | %d{HH:mm:ss.SSS} | %-20.20thread | %5p | %-25.25logger{25} | %12(ID: %8mdc{id}) | %m %rEx{${EXCEPTION_DEPTH}}%n"/>
    <property name="SQL_PATTERN" value="%d{yyyy-MM-dd} | %d{HH:mm:ss.SSS} | %-20.20thread | %5p | %-25.25logger{25} | %12(ID: %8mdc{id}) | %m %rEx{${EXCEPTION_DEPTH}}%n"/>

    <!-- ___________________________________ Appender ___________________________________ -->

    <appender name="ROLLING"
              class="com.orbvpn.api.config.logging.OrbRollingFileAppender">
        <file>${ORB_LOG_PATH}/ORB-LOG/orb.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ORB_LOG_PATH}/ORB-LOG/%d{yyyy-MM-dd}/orb-%d{yyyy-MM-dd}.%i.log.zip
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>${MAX_FILE_SIZE}</MaxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${ORB_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="SQL_APPENDER" class="com.orbvpn.api.config.logging.OrbRollingFileAppender">
        <file>${ORB_LOG_PATH}/ORB-SQL-LOG/sql.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ORB_LOG_PATH}/ORB-SQL-LOG/%d{yyyy-MM-dd}/sql-%d{yyyy-MM-dd}.%i.log.zip
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>${MAX_FILE_SIZE}</MaxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${SQL_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ___________________________________ Application Loggers ___________________________________ -->

    <logger name="com.orbvpn">
         <level value="${APPLICATION_LEVEL}"/>
     </logger>

    <!-- ___________________________________ SQL Loggers ___________________________________ -->

    <logger name="org.hibernate">
        <level value="${THIRDPARTY_LEVEL}"/>
        <appender-ref ref="SQL_APPENDER"/>
    </logger>
    <logger name="org.hibernate.SQL">
        <level value="${HIBERNATE_LEVEL}"/>
        <appender-ref ref="SQL_APPENDER"/>
    </logger>
    <logger name="org.hibernate.type">
        <level value="${QUERY_PARAMETERS_LEVEL}"/>
        <appender-ref ref="SQL_APPENDER"/>
    </logger>
    <logger name="org.hibernate.hql">
        <level value="${HIBERNATE_LEVEL}"/>
        <appender-ref ref="SQL_APPENDER"/>
    </logger>
    <logger name="org.hibernate.jdbc">
        <level value="${HIBERNATE_LEVEL}"/>
        <appender-ref ref="SQL_APPENDER"/>
    </logger>
    <logger name="org.hibernate.loader">
        <level value="${HIBERNATE_LEVEL}"/>
        <appender-ref ref="SQL_APPENDER"/>
    </logger>
    <logger name="org.hibernate.engine">
        <level value="${HIBERNATE_LEVEL}"/>
        <appender-ref ref="SQL_APPENDER"/>
    </logger>
    <logger name="org.hibernate.transaction">
        <level value="${HIBERNATE_LEVEL}"/>
        <appender-ref ref="SQL_APPENDER"/>
    </logger>
    <logger name="org.hibernate.impl">
        <level value="${HIBERNATE_LEVEL}"/>
        <appender-ref ref="SQL_APPENDER"/>
    </logger>
    <logger name="org.hibernate.event">
        <level value="${HIBERNATE_LEVEL}"/>
        <appender-ref ref="SQL_APPENDER"/>
    </logger>

    <!-- ___________________________________ Root ___________________________________ -->

    <Root level="${ROOT_LEVEL}">
        <appender-ref ref="ROLLING"/>
    </Root>
</configuration>
